{% extends "base.html" %}
{% block title %} Stackstreamer - All stacks {% endblock %}

{% block extrastyle %}
table .btn{
  margin-top: 2pt;
  margin-bottom: 2pt;
  margin-right: -3px;

}
div.thumb{
    width:270px;
    height:270px;
    display: table-cell;
    vertical-align: middle;
    background-color:white;
      border-color: gray;
      border-width: 1pt;
      border-style: solid;
}
img.thumb {
    display: block;
    margin-left: auto;
    margin-right: auto }

{% endblock %}

{% block content %}
    <table class="table no-border table-striped">
        {% for s in stacks %}
        <tr>
            <td><div class="thumb"><img class="thumb" src="{{s.thumbnail.url}}"/></div></td>
            <td><table class="table table-bordered table-condensed">
                <tr><td>Name:</td><td>{{s.name}}</td></tr>
                <tr><td>Project:</td><td>{{s.project}}</td></tr>
                <tr><td>Number of slices:</td><td>{{s.n_slices}}</td></tr>
                <tr><td>Slice spacing:</td><td>{{s.slice_spacing}} &micro</td></tr>
                <tr><td>Dimensions:</td><td>{{s.pixel_width}} x {{s.pixel_height}}</td></tr>
                <tr><td>Pixel size:</td><td>{{s.pixel_size}} &micro</td></tr>
            </table></td>
            <td></td>
            <td><table>
                <tr><td><a class="btn btn-lg btn-primary" href="{{VIEWER_URL}}?id={{s.uuid}}" role="button">Launch viewer</a></td></tr>
                <tr><td><a class="btn btn-lg btn-default" href="{% url 'admin:stackorg_stack_change' s.id %}" role="button">Sample notes</a></td></tr>
                <tr><td><a class="btn btn-lg btn-default" href="{% url 'admin:stackorg_stack_change' s.id %}" role="button">Edit metadata</a></td></tr>
                </table>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block lastscript %}
{% endblock %}