{% load thumbnail %}

{% block content %}
<div>
    <table class="table ">
        {% for flag in flags %}
        <tr><td>
        <div class="flag">
            {% thumbnail flag.thumbnail "150x150" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <div class="flag_name">
                <span class="label label-primary">{{flag.name}}</span>
            </div>
            <div class="flag_delete">
                <a target="{% url 'delete_flag' id=flag.id %}">
                <span class="fa-stack">
                    <i class="fa fa-circle fa-inverse fa-stack-2x"></i>
                    <i class="fa fa-times-circle fa-stack-2x"></i>
                </span>
                </a>
            </div>
        </td></tr>
        {% endfor %}
    </table>    
</div>
{% endblock %}